<%= stylesheet_link_tag "task_form" %>

<div class="form-container">
<%= form_with model: [@category, @task] do |form| %>
  <div>
    <%= form.label :task_name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :due_date %>
    <%= form.date_field :due_date %>
  </div>

  <div>
  <%= form.submit @category.new_record? || @task.new_record? ? 'Create' : 'Update' %>
  </div>
<% end %>
</div>
