<%= stylesheet_link_tag "task_show" %>

<div class="task-details-box">
  <h1><%= @task.name %></h1>
  
    <p><strong>Due Date:</strong> <%= @task.due_date.in_time_zone.strftime("%B %e, %Y") %></p>
    <p><strong>Status:</strong> <%= @task.status ? 'Completed' : 'Pending' %></p>
    <p><strong>Category:</strong> <%= @task.category.name %></p>
    <p><strong>Created at:</strong> <%= @task.created_at.in_time_zone.strftime("%B %e, %Y %l:%M %p") %></p>
    <p><strong>Updated at:</strong> <%= @task.updated_at.in_time_zone.strftime("%B %e, %Y %l:%M %p") %></p>
  
  <div class="showtask-div-button">
    <%= link_to 'Edit', edit_category_task_path(@task.category), class: 'showtask-button' %>
    <%= link_to 'Back', category_path(@category), class: 'showtask-button' %>
  </div>
</div>
