<%= stylesheet_link_tag "home" %>

<% if user_signed_in? %>
  <div class="banner1">
    <h1>Welcome to Tasker!</h1>
    <h2>Today:</h2>
  </div>
  <% tasks_due_today = current_user.tasks.where(due_date: Date.today) %>
  <% if tasks_due_today.any? %>
    <div class="container">
      <table class="due-today-table">
        <thead>
          <tr>
            <th>Task Name</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Category</th>
          </tr>
        </thead>
        <tbody>
          <% tasks_due_today.each do |task| %>
            <tr>
              <td><%= task.name %></td>
              <td><%= task.due_date %></td>
              <td><%= task.status ? 'Completed' : 'Pending' %></td>
              <td><%= task.category.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="div-button">
    <%= link_to 'See Categories', categories_path, class: 'button' %>
    </div>
  <% else %>
    <div class="div-button">
    <p>No tasks due today.</p>
    <%= link_to 'See Categories', categories_path, class: 'button' %>
    </div>
  <% end %>
<% else %>
  <div class="banner">
    <h1>Tasker •ᴗ•</h1>
    <h2>List and track</h2>
  </div>
<% end %>
