<%= stylesheet_link_tag "category_form" %>

<div class="form-container">
  <%= form_with(model: @category) do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
      <% @category.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.submit @category.new_record? ? 'Create' : 'Update' %>
    </div>
  <% end %>
</div>
