<%= stylesheet_link_tag "category_index" %>

<div class="all-categories">
<h2>All Categories</h2>
</div>
<%= link_to "+", new_category_path, class: 'add-category' %>
<ul>
  <% if @categories.present? %>
    <% @categories.each do |category| %>
      <li>
        <%= link_to category.name, category_path(category), class: 'name-category' %>
        <div class="category-buttons">
          <%= link_to 'Edit', edit_category_path(category), class: 'edit-category' %>
          <%= button_to 'Delete', category_path(category), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'delete-category' %>
        </div>
      </li>
    <% end %>
  <% else %>
    <li>No categories found.</li>
  <% end %>
</ul>

<%= link_to 'â†', root_path, class: 'back-link' %>
