<%= stylesheet_link_tag "category_show" %>

<div class="task-list-container">
  <h1>Tasks for <%= @category.name %></h1>
  <%= link_to '+', new_category_task_path(category_id: @category.id), class: 'add-button' %>
  
  <% if @category.tasks.any? %>
    <table class="task-table">
      <thead>
        <tr>
          <th>Task Name</th>
          <th>Due Date</th>
          <th>Status</th>
          <th>Details</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @category.tasks.each do |task| %>
          <tr>
            <td id="task-name-<%= task.id %>"><%= task.name %></td>
            <td><%= task.due_date %></td>
            <td>
              <%= form_with(model: [@category, task], method: :patch) do |form| %>
                <%= form.check_box :status, as: :boolean, onchange: "this.form.submit()"%>
              <% end %>
            </td>
            <td><%= link_to 'View', category_task_path(category_id: @category.id, id: task.id), class: 'view' %></td>
            <td class="action-buttons">
              <%= link_to 'Edit', edit_category_task_path(category_id: @category.id, id: task.id) %>
              <%= button_to 'Delete', category_task_path(@category, task), method: :delete, data: { turbo_confirm: "Are you sure?"} %>
            </td>
          </tr>
        <% end %>      
      </tbody>
    </table>
  <% else %>
    <div>
    <p>No tasks to show.</p>
    </div>
  <% end %>
  
  <%= link_to 'â†', categories_path, class: 'back-button' %>
</div>
