<%= stylesheet_link_tag "layout_navbar" %>

<div class="navbar">
  <a href="<%= root_path %>" class="navbar-a">Tasker •ᴗ•</a>
  
  <div class="navbar-right">
    <% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
      <%= link_to "Edit account", edit_user_registration_path %>
    <% else %>
      <%= link_to "Create account", new_user_registration_path %>
      <%= link_to "Log in", new_user_session_path %>
    <% end %>
  </div>
</div>
